.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-form-field {
  width: 200px;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 600px;
}

iframe {
    width: 560px;
    height: 315px;
}
